<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ARKit-CoreML.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F444E90C2073C2B200F3637D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F444E9222073C2B400F3637D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F444E92D2073C2B400F3637D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
